[submodule "plugins/start/nerdtree"]
	path = plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "plugins/start/nerdtree-git-plugin"]
	path = plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "colors/start/one"]
	path = colors/start/one
	url = https://github.com/rakr/vim-one.git
[submodule "plugins/start/vim-airline"]
	path = plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "plugins/start/vim-floaterm"]
	path = plugins/start/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm
[submodule "plugins/start/syntastic"]
	path = plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "plugins/start/popup-menu"]
	path = plugins/start/popup-menu
	url = https://github.com/kamykn/popup-menu.nvim
[submodule "plugins/start/julia-vim"]
	path = plugins/start/julia-vim
	url = https://github.com/JuliaEditorSupport/julia-vim.git
[submodule "plugins/start/taglist"]
	path = plugins/start/taglist
	url = https://github.com/yegappan/taglist
[submodule "plugins/start/ale"]
	path = plugins/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "plugins/start/fzf.vim"]
	path = plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "plugins/start/vim-surround"]
	path = plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "plugins/start/vim-commentary"]
	path = plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "plugins/start/gitsigns.nvim"]
	path = plugins/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "plugins/start/indentLine"]
	path = plugins/start/indentLine
	url = https://github.com/Yggdroot/indentLine
